// .container {
//     padding-left: 15px;
//     padding-right: 15px;
//     margin-left: auto;
//     margin-right: auto;
//   }
//   /* Small */
//   @media (min-width: 768px) {
//     .container {
//       width: 750px;
//     }
//   }
//   /* Medium */
//   @media (min-width: 992px) {
//     .container {
//       width: 970px;
//     }
//   }
//   /* Large */
//   @media (min-width: 1200px) {
//     .container {
//       width: 1170px;
//     }
//   }
// .gallery {
//     padding-top: var(--main-padding-top);
//     padding-bottom: var(--main-padding-bottom);
//     position: relative;
//     background-color: var(--section-background);
//     /* z-index: 1; */
//   }
//   .gallery .container {
//     display: grid;
//     grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
//     gap: 40px;
//   }
//   .gallery .box {
//     padding: 15px;
//     background-color: white;
//     box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
//   }
//   .gallery .box .image {
//     position: relative;
//     overflow: hidden;
//   }
//   .gallery .box .image::before {
//     content: "";
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     background-color: rgb(255 255 255 / 20%);
//     width: 0;
//     height: 0;
//     opacity: 0;
//     /* z-index: 2; */
//   }
//   .gallery .box .image:hover::before {
//     animation: flashing 0.7s;
//   }
//   .gallery .box img {
//     max-width: 100%;
//     height: 250px;
//     transition: var(--main-transition);
//   }
//   .gallery .box .image:hover img {
//     transform: rotate(5deg) scale(1.1);
//     cursor: pointer;
//   }

.gallery {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--section-background);
  z-index: 1;
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.gallery .box {
  padding: 15px;
  background-color: white;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
}
.gallery .box .image {
  position: relative;
  overflow: hidden;
}
.gallery .box .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255 255 255 / 20%);
  width: 0;
  height: 0;
  opacity: 0;
  z-index: 2;
}
.gallery .box .image:hover::before {
  animation: flashing 0.7s;
}
.gallery .box img {
  max-width: 100%;
  transition: var(--main-transition);
  height: 250px;
}
.gallery .box .image:hover img {
  transform: rotate(5deg) scale(1.1);
}