.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.team {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  z-index: 1;
}
.team .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.team .box {
  position: relative;
  width: 350px;
}
.team .box::before,
.team .box::after {
  content: "";
  background-color: #f3f3f3;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border-radius: 10px;
  transition: var(--main-transition);
}
.team .box::before {
  width: calc(100% - 60px);
  background-color: #0c95c3;
  z-index: -2;
}
.team .box::after {
  z-index: -1;
  background-color: #e4e4e4;
  width: 0;
}
.team .box:hover::after {
  width: calc(100% - 60px);
}
.team .box:hover p {
  color: #777;
}
.team .box .data {
  display: flex;
  align-items: center;
  padding-top: 60px;
}
.team .box .data img  {
  width: calc(100% - 60px) ;
  transition: var(--main-transition);
  border-radius: 10px;
  width: 240px;
  height: 240px;
}
.team .box:hover img {
  filter: grayscale(100%);
}
.team .box .data .social {
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.team .box .data .social a {
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.team .box .data .social a:hover i {
  color: var(--main-color);
}
.team .box .data .social i {
  color: #fff;
  transition: var(--main-transition);
}
.team .box .info {
  padding-left: 80px;
  padding-right: 20px;
}
.team .box .info h3 {
  margin-bottom: 0;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  transition: var(--main-transition);
}
.team .box .info p {
  margin-top: 10px;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: large;
  color: #fff;
}
.team .box:hover .info h3 {
  color: #777;
}
.team .box:hover .info p {
  color: #777;
}
