.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.services {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  z-index: 1;
  background-color: var(--section-background);
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.services .box {
  background-color: white;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  counter-increment: services;
  transition: var(--main-transition);
  position: relative;
}
.services .box::before {
  content: "";
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  top: -3px;
  background-color: var(--main-color);
  position: absolute;
  width: 0;
  transition: var(--main-transition);
}
.services .box:hover {
  transform: translateY(-10px);
}
.services .box:hover::before {
  width: 100%;
}
.services .box > i {
  margin: 30px auto 20px;
  display: block;
  text-align: center;
  color: var(--main-color-alt);
}
.services .box > h3 {
  text-align: center;
  margin: 20px 0 40px;
  font-size: 25px;
  color: var(--main-color);
}
.services .box .info {
  padding: 15px;
  position: relative;
  background-color: var(--section-background);
  text-align: right;
}
.services .box .info::before {
  content: "0" counter(services);
  position: absolute;
  background-color: var(--main-color);
  color: white;
  left: 0;
  top: 0;
  height: 100%;
  width: 80px;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
}
.services .box .info::after {
  content: "";
  position: absolute;
  background-color: var(--main-color-alt);
  top: 0;
  left: 60px;
  width: 50px;
  height: calc(100% + 0.4px);
  transform: skewX(-30deg);
}
.services .box .info a {
  color: var(--main-color-alt);
}
