.landing {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    height: 100%;
    background-color: #0c95c3;
    transform: skewY(-6deg);
    transform-origin: top left;
  }
  .container {
    min-height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    padding-bottom: 120px;
  }
  .title {
    color: #b9f706;
    font-weight: bold;
    font-size: 80px;
  }
  .text {
    flex: 1;
    z-index: 1;
    h1 {
      font-size: 40px;
      margin: 0;
      letter-spacing: -2px;
      color: #fff;
    }
    p {
      font-size: 23px;
      line-height: 1.7;
      margin: 5px 0 0;
      color: #fff;
      max-width: 500px;
      font-weight: bold;
      a {
        display: block;
        z-index: 44;
        width: fit-content;
        margin: 0 auto 30px;
        font-weight: bold;
        font-size: 16px;
        padding: 10px 30px;
        border-radius: 6px;
        transition: var(--main-transition);
        border: 3px solid transparent;
        color: #004da5;
        border-color: #004da5;
        background: linear-gradient(to right, #004da5 50%, white 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        &:hover {
          background-position: left bottom;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
  .image img {
    position: relative;
    width: 350px;
    animation: up-and-down 5s linear infinite;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 10px var(--main-color-alt);
    -moz-box-shadow: 0 0 10px var(--main-color-alt);
    box-shadow: 0 0 10px var(--main-color-alt);
  }
  .go-down {
    color: var(--main-color-alt);
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition);
    &:hover {
      color: var(--main-color);
    }
    i {
      animation: bouncing 1.5s infinite;
    }
  }
}

@media (max-width: 991px) {
  .landing .text {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .landing .text h1 {
    font-size: 28px;
  }
}

@media (max-width: 991px) {
  .landing .text p {
    margin: 10px auto;
  }
}
@media (max-width: 767px) {
  .landing .text p {
    font-size: 18px;
  }
}
@media (max-width: 991px) {
  .landing .image {
    display: none;
  }
}
// old
.landing {
  position: relative;
  color: #004da5;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (max-width: 991px) {
  .landing .text {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .landing .text h1 {
    font-size: 28px;
  }
}
@media (max-width: 991px) {
  .landing .text p {
    margin: 10px auto;
  }
}
@media (max-width: 767px) {
  .landing .text p {
    font-size: 18px;
  }
}
@media (max-width: 991px) {
  .landing .image {
    display: none;
  }
}

