.navigation-item {
  padding: 0;
}

.navigation-item a {
  text-decoration: none;
  color: white;
  padding-left: 7px;
  padding-right: 7px;
}

.navigation-item.mobile {
  font-size: 1.75rem;
  margin: 0;
}

/* .navigation-item.mobile a {
  color: red;
} */

/* .navigation-item a:hover,
.navigation-item a:active,
.navigation-item a.active {
  color: #fab83f;
} */

.navigation-item:last-of-type {
  padding-right: 0;
}

.navigation-item button {
  font: inherit;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0;
}

.navigation-item button:hover,
.navigation-item button:active {
  color:var(--main-color-alt);
}
 .mega-menu {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 30px;
  background-color: white;
  border-bottom: 3px solid var(--main-color);
  z-index: -1;
  display: flex;
  gap: 40px;
  top: calc(100% + 50px);
  opacity: 0;
  transition: top var(--main-transition), opacity var(--main-transition);
}
@media (max-width: 767px) {
   .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
  }
}
 .mega-menu .image img {
  max-width: 100%;
}
@media (max-width: 991px) {
   .mega-menu .image {
    display: none;
  }
}
 .mega-menu .links {
  min-width: 250px;
  flex: 1;
}
 .mega-menu .links li {
  position: relative;
}
 .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}
@media (max-width: 767px) {
   .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}
 .mega-menu .links li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #fafafa;
  z-index: -1;
  transition: var(--main-transition);
}
 .mega-menu .links li:hover::before {
  width: 100%;
}
 .mega-menu .links li a {
  color: var(--main-color);
  padding: 15px;
  display: block;
  font-size: 18px;
  font-weight: bold;
}
 .mega-menu .links li a i {
  margin-right: 10px;
}